- if user_signed_in?
  - if current_user.role == 'student' && current_user.student.current_level != nil && current_user.student.current_level == @exam.level.id
    = render 'giveexam'
  -else
    %strong You don't have access of this page.
